<h1>Annie's Playlist</h1>

<table>
  <tr>
    <td>
      name
    </td>
    <td>
      artist
    </td>
    <td>
      length
    </td>
    <td>
      touring?
    </td>
  </tr>
  {{#each songs}}
  <tr>
    <td>
      {{ this.name }}
    </td>
    <td>
      {{ this.artist }}
    </td>
    <td>
      {{ this.length }}
    </td>
    <td>
      {{ this.touring }}
    </td>
  </tr>
  {{/each}}
</table>
